{% extends "layout.html" %}
{% block body %}
    {% for post in posts %}
    <table>
        <h2>{{ post["title"] }}</h2>
        <tr>
            <td><b>Post</b></td>
            <td>{{ post["text"] }}</td>
        </tr>
        <tr>
            <td><b>Author</b></td>
            <td>{{ post["author"] }}</td>
        </tr>
        <tr>
            <td><b>Date Posted</b></td>
            <td>{{ post["date_posted"] }}</td>
        <tr>
            <td><b>Category</b></td>
            <td>{{ post["category"] }}</td>
        </tr>
        <a href="{{ url_for('update_task', id=task.id) }}">Edit</a>
        <a href="{{ url_for('delete_task', id=task.id) }}">Delete</a>
    </table>

    <h2>Comments for {{ posts["title"] }}</h2>
        <table>
            <tr>
                <td><b>Comment</b></td>
            <td>{{ post["text"] }}</td>
            </tr>
            <tr>
                <td><b>Author</b></td>
            <td>{{ post["author"] }}</td>
            </tr>
        </table>
    {% endfor %}

{% endblock body %}