{% extends "layout.html" %}
{% block body %}
    {% for post in posts %}
    <table>
        <h2>{{ posts["title"] }}</h2>
        <tr>
            <td><b>Post</b></td>
            <td>{{ posts["text"] }}</td>
        </tr>
        <tr>
            <td><b>Author</b></td>
            <td>{{ posts["author"] }}</td>
        </tr>
        <tr>
            <td><b>Date Posted</b></td>
            <td>{{ posts["date_posted"] }}</td>
            <tr>
            <td><b>Category</b></td>
            <td>{{ posts["category"] }}</td>
        </tr>
        </tr>
    </table>

    <h2>Comments for {{ posts["title"] }}</h2>
        <table>
            <tr>
                <td><b>Comment</b></td>
            <td>{{ posts["text"] }}</td>
            </tr>
            <tr>
                <td><b>Author</b></td>
            <td>{{ posts["author"] }}</td>
            </tr>
        </table>
    {% endfor %}

{% endblock body %}